html {
    background-color: #dfdfdf;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    max-width: 960px;
    margin: auto;
    margin-top: 10px;
    padding: 1px;
    background-color: white;
    border-radius: 1%;
}

h1 {
    text-align: center;
}

.h1-first-half {
    color: #5c8c0c;
}

.h1-second-half {
    color: #be8342;
}

h2 {
    color: #7eb31e;
    border-bottom-style: groove;
    border-bottom-color: #f1fedd;
    border-width: 4px;
}

h3 {
    padding-top: 1.5%;
    color: #c78c43;
}

article {
    margin-left: 8rem;
    margin-right: 1rem;
    border-style: groove;
    padding: 2%;
    margin-bottom: 2%;
}

nav {
    float: left;
}
