body {
    background-color: rgb(237, 227, 255);
    color: rgb(255, 0, 0);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

h1 {
    font-size: 40px;
}

p {
    font-size: larger;
}